 body {
  background-image: url("bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* background: white; */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  background-color: rgba(93, 52, 183, 0.1);
  width: 350px;
}

h2 {
  text-align: center;
  color: #dadadb;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: rgba(93, 52, 183, 0.1);
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #17a2b8; 
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #117a8b;
}

.link {
  margin-top: 15px;
  text-align: center;
}

.link a {
  text-decoration: none;
  color: #007BFF;
}

.link a:hover {
  text-decoration: underline;
}

.message {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: red;
}
